<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <% if(!error) { %>
        <%-include('partials/header')%>
        <%-include('layouts/main')%>
    <% } else { %>
        <%- include('layouts/error')%>
    <% } %>
    <%- include('partials/footer') %>
</body>
</html>